<table class="col-xs-10 col-xs-offset-1">
	<tr>
	<td>
		<% unless @quote == Quote.first %>
			<%= link_to quote_path(@quote.previous) do %>
				<%= image_tag 'back.png', :class => 'back pull-right' %>
			<% end %>
	  <% end %>
	</td>

	<td class="show-card">
		<div class="headline">
			 Enlightened Insight, Number <%= @quote.id %>:
		</div>

		<h2>
			<span>You know you work at a startup when...</span>
		</h2>

		<h1><%= @quote.saying %></h1>
		<h2 class="pull-right">-<%= @quote.author %></h2>
	</td>

		<td>
			<% unless @quote == Quote.last %>
				<%= link_to quote_path(@quote.next) do %>
					<%= image_tag 'forward.png', :class => 'next' %>
				<% end %>
			<% end %>
		</td>
  </tr>
</table>
