<!DOCTYPE html>
<html>
<head>
  <title>Splurty</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<div class="col-xs-6">
			<div class="headline">
				You know you work at a startup when...
			</div>
		</div>
		<div class="col-xs-6 slogan">
			<p>A humorously inciteful look into the inner workings of the startup world.</p>
		</div>
		<div class="col-xs-5 links">
			<%= link_to 'Contribute', '#' %>
			<%= link_to 'About', '#' %>
		</div>
	</header>
	<hr />
	<br class="clear" />

<div class="container">
	<%= yield %>
</div>

<div class="footer">
	<div class="container">
			<div class="col-xs-6">
				<%= link_to "Show me another.", "#", :class => 'next-quote' %>
			</div>
			<div class="col-xs-6 footer-blurb">
				A quick project by <a href="http://1amongmany.com">Danny Nathan</a>.<br />
				Something else interesting or witty might go here.
			</div>
	</div>
</div>

</body>
</html>
